<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140061586960-5n1ifsd6l87assfeldfsr69mtv2bv4va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140061586960-5n1ifsd6l87assfeldfsr69mtv2bv4va</string>
	<key>API_KEY</key>
	<string>AIzaSyDZxafP8masKS6cu2j5bjIwIcWORsN4Zo0</string>
	<key>GCM_SENDER_ID</key>
	<string>140061586960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAi</string>
	<key>PROJECT_ID</key>
	<string>chatai-69eab</string>
	<key>STORAGE_BUCKET</key>
	<string>chatai-69eab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140061586960:ios:c1503b9a16336688537c95</string>
</dict>
</plist>